.user__background {
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.75);
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
}

.user__background.active {
    display: flex;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.user__container {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    overflow: auto;
}

.user__header {
    background-color: #191919;
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.user__header {
    justify-content: space-between;
}

.user__header .left {
    cursor: pointer;
}

.user__header * {
    margin-left: auto;
}

.user__info {
    margin: 2rem;
}

.user__info__data {
    margin-bottom: 5rem;
}

.user__info__title {
    color: rgb(175, 175, 175);
}

.user__info__subtitle {
    margin: 10px 0px 20px 20px;
}

.user__carousel {
    margin-top: 2rem;
    width: 100%;
    height: 30rem;
    position: relative;
}

.user__carousel__container {
    overflow-x: auto;
    display: flex;
    padding: 0 4vw;
    width: 100%;
}

.user__carousel__left__button,
.user__carousel__right__button {
    position: absolute;
    padding: 15px;
    margin: 0 5px;
    top: 80px;
    display: flex;
    cursor: pointer;
    z-index: 1;
    background-color: white;
    border-radius: 50%;
}

.user__carousel__left__button img,
.user__carousel__right__button img {
    width: 25px;
}

.user__carousel__left__button {
    left: 0;
    transform: rotate(180deg);
}

.user__carousel__right__button {
    right: 0;
}

.user__carousel__track {
    transition: transform 0.3s ease-in-out;
    position: relative;
    width: 1500px;
    display: flex;
    gap: 2rem;
}

.user__carousel__track::-webkit-scrollbar,
.user__carousel__container::-webkit-scrollbar {
    display: none;
}

.user__carousel__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 250px;
}

.user__carousel__card img {
    width: 15rem;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {

    .user__carousel__left__button,
    .user__carousel__right__button {
        display: none;
    }

    .user__carousel__container {
        padding: 0;
    }
}

@media screen and (min-width: 992px) {

    .user__container {
        height: 80vh;
        width: 35%;
        top: 8%;
    }
}