.footer {
    margin: 2rem 0;
}

.footer__topics {
    display: flex;
    flex: 1;
    gap: 5rem;
    justify-content: center;
}

.footer__topics h2 {
    margin-bottom: 1rem;
}

.footer__topics p {
    margin-bottom: 0.5rem;
}

.footer__topics p span {
    font-size: 1.3rem;
    width: 100%;
    transition: 0.3s ease-in;
}

.footer__topics p span::after {
    transition: all ease-in-out .2s;
    background: red;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

.footer__topics p span:hover::after {
    width: 10%;
}

.footer__utils {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer__utils__social_media {
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
}

.footer__utils__social_media i {
    font-size: 2.5rem;
    transition: 0.3s ease-in-out;
}

.footer__utils__social_media .facebook:hover {
    color: #4267B2;
}

.footer__utils__social_media .instagram:hover {
    color: #E1306C;
}

.footer__utils__social_media .twitter:hover {
    color: #1DA1F2;
}

.footer__utils__social_media .pinterest:hover {
    color: #E60023;
}

.footer__utils__download {
    display: flex;
    gap: 1rem;
}

.footer__utils__download img {
    width: 15rem;
    filter: saturate(3);
}

.footer hr {
    margin: 2rem 0;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

@media screen and (max-width: 992px) {
    .footer__topics {
        display: none;
    }
}

/* large (desktop) */
@media screen and (min-width: 992px) {
    .footer__utils {
        margin: 4rem 0 4rem 0;
        flex-direction: row;
        gap: 5rem;
    }

    .footer__utils__social_media {
        margin-bottom: 0;
    }
}