@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    font-size: 62.5%;
    /* Font-size: 1rem == 10px */
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

header {
    width: 100%;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: white;
    border-bottom: 1px rgb(204, 204, 204) solid;
}

::-webkit-scrollbar {
    width: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

/* === START MESSAGES === */
.messages {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Montserrat';
    font-size: 1.2rem;
    transition: 1s ease-in;
}

.messages div a p,
.messages div a {
    transition: 1s ease-in;
}

.removed {
    display: none !important;
}

/* === END MESSAGES === */

/* === Start nav === */
.nav__left__icons,
.nav__logo,
.nav__right__icons {
    display: flex;
    flex-basis: 33.3%;
}

.nav__left__icons ul,
.nav__right__icons ul {
    display: flex;
}

.nav__left__icons ul li,
.nav__right__icons ul li {
    font-size: 1.8rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.nav__left__icons ul li:hover,
.nav__right__icons ul li:hover {
    color: red;
}

.nav__left__icons {
    justify-content: start;
}

.nav__logo {
    justify-content: center;
}

.nav__right__icons {
    justify-content: end;
}

.img__logo {
    width: 5rem;
}

.nav__left__icons ul li:not(:last-child) {
    margin-right: 2rem;
}

.nav__right__icons ul li {
    margin-right: 2rem;
}

.nav__right__icons ul li.user-icon {
    margin-right: 0;
}

.close-login-icon {
    cursor: pointer;
}

/* === End nav === */

/* === Start nav Searchbox === */
.nav__searchbox {
    background-color: white;
    position: fixed;
    top: -150%;
    left: 0;
    width: 100%;
    padding: 8rem 2rem;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.nav__searchbox div form {
    display: flex;
    justify-content: center;
}

.nav__searchbox div form input {
    font-family: 'Montserrat';
    width: 100%;
    padding: 10px 0px;
    border: none;
    border-bottom: 1px solid red;
    outline: none;
}

.nav__searchbox div form button {
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 1rem 2rem;
    color: white;
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
}

.show-searchbox {
    top: 72px !important;
    opacity: 1;
}

/* === End nav Searchbox === */

/* === Start nav menu === */
.nav__link {
    font-family: 'Montserrat';
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 2rem;
    text-transform: uppercase;
    transition: .2s ease-in;
    cursor: pointer;
}

.nav__link a {
    display: flex;
    color: white;
}

.nav__link:hover {
    color: red;
}

.nav__menu__first {
    background-color: white;
    padding: 5rem 5rem 1rem 5rem;
}

.nav__menu__second {
    height: 100%;
    background-color: #c10016;
    color: white;
    padding: 5rem 5rem 1rem 5rem;
}

/* begin animation */
.nav__menu__first .nav__link p,
.nav__menu__second .nav__link p {
    transition: 0.2s ease-in-out;
}

.nav__menu__first .nav__link:hover p,
.nav__menu__second .nav__link:hover p {
    margin-left: 20px;
}

/* end animation */

.nav__menu__first .nav__link {
    justify-content: space-between;
}

.nav__menu__second i {
    margin-right: 2rem;
}

.nav__menu__second .nav__link:hover {
    color: white;
}

.show-menu,
.show-submenu {
    left: 0 !important;
}

.nav__menu,
.nav__submenu {
    height: 100%;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: -150vw;
    transition: 0.3s ease-in-out;
    overflow: auto;
}

.nav__menu {
    overflow-y: scroll;
}

.nav__submenu {
    z-index: 100;
}

.nav__menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem 0 3rem;
}

.nav__menu__header img {
    width: 5rem;
    cursor: pointer;
}

.nav__menu__header i {
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2s ease-in;
}

.nav__menu__header i:hover {
    color: red;
}

.large__categories {
    display: flex;
    gap: 5rem;
    justify-content: center;
    padding: 1rem;
}

.large__categories p {
    font-size: 1.5rem;
    cursor: pointer;
}

.categorie__hovermenu {
    position: absolute;
}

/* === End nav menu === */

/* === Login === */
.login__container {
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: white;
    margin: 0;
}

.login__container.active {
    display: block;
}

.login__header {
    background-color: #191919;
    color: white;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.login__header h1,
.login__header i {
    margin-left: auto;
}

.login__form,
.register__container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 5rem auto;
    gap: 5rem;
}

.input__email,
.input__password {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.input__email input,
.input__password input {
    padding: 0.5rem;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.login__form p {
    text-align: right;
    font-size: 1.3rem;
}

.login__separator {
    border-bottom: 1px solid black;
    text-align: center;
    height: 20px;
}

.login__separator span {
    font-size: 30px;
    background-color: white;
    padding: 0 10px;
}

.login__container button,
.register__button {
    padding: 1rem;
    background-color: #c10016;
    color: white;
    border: 1px solid #c10016;
    cursor: pointer;
    transition: 0.15s ease-in-out;
}

.login__container button:hover,
.register__button:hover {
    background-color: #77000e;
}

.register__container {
    margin-top: 5rem;
}

.register__container button {
    width: 100%;
}

/* === Login === */

/* === Start news === */
.carousel {
    position: relative;
    width: 100%;
    height: 550px;
}

.carousel__track__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.carousel__track {
    position: relative;
    list-style: none;
    height: 100%;
    transition: 0.5s ease-in-out;
}

.carousel__slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    transition: 0.3s ease-out;
}

.carousel__slide:hover {
    transform: scale(1.1);
}

.carousel__slide img {
    height: 550px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s ease-in-out;
}

.carousel__slide__text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    bottom: 0;
    padding: 0 20px 40px 20px;
    font-size: 4rem;
}

.carousel__slide__text__title {
    color: red;
    font-weight: 600;
    font-style: italic;
}

.carousel__slide__text__subtitle {
    font-weight: 500;
    color: white;
}

.carousel__button__left {
    position: absolute;
    left: 0;
    color: red;
    z-index: 1;
    padding: 15px;
    border: 0;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    top: 0;
    transition: 0.2s ease;
}

.carousel__button__right {
    position: absolute;
    right: 0;
    color: red;
    z-index: 1;
    padding: 15px;
    border: 0;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
    top: 0;
    transition: 0.2s ease;
}

.carousel__button:hover {
    font-size: 30px;
}

.carousel__nav__container {
    width: 100%;
    position: relative;
    top: -30px;
}

.carousel__nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carousel__indicator {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    padding: 7px;
    border: 0;
    cursor: pointer;
    transition: 0.3s ease;
}

.carousel__indicator:hover {
    background: rgba(0, 0, 0, 0.8);
}

.carousel__indicator.current-slide {
    background: rgba(255, 0, 0, 0.5);
}

.carousel__bottom__divisor {
    bottom: 0;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 154, 0, 1) 10%,
            rgba(208, 222, 33, 1) 20%,
            rgba(79, 220, 74, 1) 30%,
            rgba(63, 218, 216, 1) 40%,
            rgba(47, 201, 226, 1) 50%,
            rgba(28, 127, 238, 1) 60%,
            rgba(95, 21, 242, 1) 70%,
            rgba(186, 12, 248, 1) 80%,
            rgba(251, 7, 217, 1) 90%,
            rgba(255, 0, 0, 1) 100%);
}

/* === End news === */

/* === Start Homecards === */
.homecards {
    padding: 0 50px;
}

.homecard__container {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0px;
    padding-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.homecard__image {
    border-top: 15px solid red;
    border-radius: 25px 25px 0px 0px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.homecard__content {
    text-align: center;
    margin: 15px;
}

.homecard__content h1 {
    margin-bottom: 10px;
    color: red;
}

.homecard__content h2 {
    margin-bottom: 15px;
}

.homecard__content div {
    margin-top: 25px;
}

.homecard__content a {
    cursor: pointer;
    color: white;
    background-color: red;
    border: 0;
    padding: 12px 36px;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 700;
}

.homecard__content i {
    margin-left: 1rem;
}

/* === End Homecards === */

/* Begin Contact */
.contact {
    display: flex;
}

.contact .container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 4rem 2rem;
}

.contact button {
    border-radius: 50px;
    border: 1px solid white;
    background-color: transparent;
    padding: 15px;
    font-size: 1.8rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease-in;
    color: white;
}

.contact button a {
    color: white;
}

.contact p {
    font-size: 2rem;
    color: white;
    margin-bottom: 2rem;
}

.contact .logo {
    font-size: 6rem;
    color: white;
    margin-bottom: 2rem;
}

.whatsapp.container {
    background-color: rgba(54, 148, 0, 0.7);
}

.whatsapp button:hover {
    background-color: white;
}

.whatsapp button a:hover {
    color: rgba(54, 148, 0, 0.7);
}

.newsletter.container {
    background-color: rgba(0, 0, 139, 0.7);
}

.newsletter form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem 0rem;
    gap: 1rem;
}

.newsletter form input {
    padding: 10px;
    border-radius: 50px;
    outline: 0;
    width: 60%;
    border: none;
    /* To not increase size of the button when focused */
    border: 1px solid transparent;
}

.newsletter form input:focus {
    border: 1px solid red;
}

.newsletter form p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter form label {
    margin-right: 1rem;
    font-size: 1.8rem;
}

.newsletter button:hover {
    background-color: white;
    color: rgba(0, 0, 139, 0.7);
}

/* End Contact */

/* Begin Footer */
.footer {
    margin: 2rem 0;
}

.footer__topics {
    display: flex;
    flex: 1;
    gap: 5rem;
    justify-content: center;
}

.footer__topics h2 {
    margin-bottom: 1rem;
}

.footer__topics p {
    margin-bottom: 0.5rem;
}

.footer__topics p span {
    font-size: 1.3rem;
    width: 100%;
    transition: 0.3s ease-in;
}

.footer__topics p span::after {
    transition: all ease-in-out .2s;
    background: red;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

.footer__topics p span:hover::after {
    width: 10%;
}

.footer__utils {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.footer__utils__social_media {
    display: flex;
    gap: 5rem;
    margin-bottom: 2rem;
}

.footer__utils__social_media i {
    font-size: 2.5rem;
    transition: 0.3s ease-in-out;
}

.footer__utils__social_media .facebook:hover {
    color: #4267B2;
}

.footer__utils__social_media .instagram:hover {
    color: #E1306C;
}

.footer__utils__social_media .twitter:hover {
    color: #1DA1F2;
}

.footer__utils__social_media .pinterest:hover {
    color: #E60023;
}

.footer__utils__download {
    display: flex;
    gap: 1rem;
}

.footer__utils__download img {
    width: 15rem;
    filter: saturate(3);
}

.footer hr {
    margin: 2rem 0;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

/* End Footer */

.products {
    margin: 0 1rem;
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 240px));
    justify-items: center;
    justify-content: center;
}

.product {
    margin-bottom: 1.5rem;
    width: 220px;
}

.product img {
    width: 220px;
}

.product__name {
    font-size: 1.8rem;
}

.product__price {
    font-size: 1.6rem;
}

.product__sizes {
    font-size: 1.4rem;
}

.product__container {
    margin: 0rem 2.5rem;
}

.product__overview {
    display: flex;
    flex-direction: column;
}

.product__overview__images {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

.product__overview__moreimages {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    margin-top: 3rem;
}

.product__overview__images img {
    width: 100%;
}

.product__overview__images .second_image {
    display: none;
}

.product__overview__name__price {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 5rem;
    gap: 3rem;
}

.product__overview__name__price button {
    padding: 1.5rem;
    cursor: pointer;
    background-color: white;
    position: relative;
}

.product__overview__moreinfo {
    margin: 0 5rem;
}

.product__overview__moreinfo p {
    font-size: 1.4rem;
}

.product__overview__moreinfo .composition__title {
    margin-top: 2rem;
}

.dropdown__button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dropdown__menu {
    position: absolute;
    left: 0;
    top: calc(100% - 245%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    font-size: 1.4rem;
    border-top: 2px dashed;
    border-left: 2px dashed;
    border-right: 2px dashed;
    border-color: black;
    display: none;
    background-color: white;
}

.dropdown__menu ul li {
    padding: 1rem 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.dropdown__menu ul li:hover {
    background-color: rgb(212, 212, 212);
}

.dropdown__menu.active {
    display: block;
}

.buttons__small__devices__container {
    position: sticky;
    display: flex;
    gap: 1rem;
    width: 100%;
    padding: 2rem;
    background-color: white;
    bottom: 0;
}

.dropdown {
    flex: 1;
}

.dropdown button {
    padding: 1rem;
    background-color: #36454F;
    color: white;
    cursor: pointer;
}

.add__button {
    border: 2px solid black;
    font-weight: 600;
    flex: 1;
    background-color: #c10016;
    color: white;
    cursor: pointer;
}

/* Above medium */
@media screen and (max-width: 768px) {
    .nav__menu__main {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: .3s;
    }

    .nav__menu__categorie {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        transition: .3s;
    }

    .nav__menu__categorie {
        z-index: 23;
    }

    .nav__menu__main {
        z-index: 22;
    }
}

/* medium (tablet) */
@media screen and (min-width: 769px) {

    .all__nav__mobile {
        display: none;
    }

    .homecards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: top;
        gap: 30px;
    }

    #nav-toggle {
        display: none;
    }

    .categories__img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
    }

    .nav__searchbox {
        padding: 8rem 12rem;
    }
}

/* above large (desktop) */
@media screen and (max-width: 992px) {

    .contact {
        flex-direction: column;
    }

    .footer__topics {
        display: none;
    }

    .large__categories {
        display: none;
    }

    .buttons__small__devices__container.large {
        display: none;
    }
}

/* large (desktop) */
@media screen and (min-width: 992px) {

    /* Begin Scrollbar*/
    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: white;
    }

    ::-webkit-scrollbar-thumb {
        background: red;
        border-radius: 100px;
    }

    /* End Scrollbar*/

    .nav__submenu {
        width: 300px;
    }

    .toggle__icon {
        display: none;
    }

    .login__form,
    .register__container {
        width: 40vw;
    }

    .homecards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-self: center;
        gap: 30px;
    }

    .product__overview__large {
        display: flex;
    }

    .product__overview__images img {
        width: 500px;
    }

    .product__overview__moreimages {
        display: none;
    }

    .buttons__small__devices__container.small {
        display: none;
    }

    .product__overview__images .second_image {
        display: block;
    }

    .footer__utils {
        margin: 4rem 0 4rem 0;
        flex-direction: row;
        gap: 5rem;
    }

    .footer__utils__social_media {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {

    .login__form,
    .register__container {
        width: 30vw;
    }
}